:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffcb;
  --bg-color: #242424;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 2000px;
  max-height: 2000px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #061522;
    --bg-color: #ffffff;
    background-color: var(--bg-color);
  }

  body {
    color: #061522;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input:focus {
  outline: none;
}
