.data-table-wrapper {
  margin-top: 1rem;
  max-height: 70vh;
  overflow-y: auto;
}

.data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.data-table thead {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 1;
}

.data-table th {
  margin-bottom: 1rem;
}

.data-table td {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  text-align: left;
}

.data-table td:last-child {
  border: none;
}
